:root {
  --bs-emphasis-color-rgb: #fff;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
}
body {
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
}
/* navbar */
small {
  font-size: 10px;
}
.navbar {
  padding: 45px 0px;
  background-color: rgb(30, 32, 43);
  .container {
    padding-inline: 100px;
  }
}
.nav-item {
  margin-left: 40px;
  a {
    color: white;
    font-weight: 400;
    padding: 5px 25px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 30px;
    transition: 0.3s;
    &:hover {
      color: rgb(0, 154, 216);
      border: rgb(0, 154, 216) solid 2px;
    }
  }
  #home {
    color: rgb(0, 154, 216);
    border: rgb(0, 154, 216) solid 2px;
    font-weight: 400;
    padding: 5px 25px;
    border-radius: 30px;
  }
}

/* header */
.head .up {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
}
.head .down {
  background-color: #1e202b;
  height: 40vh;
}

.demo {
  position: absolute;
  top: 50%;
  left: 50%;
}
.form-control {
  border-color: transparent;
  padding: 20px 50px 20px 20px;
  border-radius: 30px;
  background-color: rgb(30, 32, 43);
}
.form-control::placeholder {
  color: #bfc1c8;
}
.form-control:focus {
  color: #fff;
  background-color: rgb(30, 32, 43);
  border-color: transparent;
  outline: 0;
  box-shadow: unset;
}
#submit {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
  background: #009ad8;
  border: none;
  border-radius: 30px;
  color: white;
}
.card-special .uppery {
  background-color: rgb(45, 48, 61);
  padding: 10px 7px;
}
.content {
  .pato {
    color: rgb(0, 154, 216);
  }
  h1 {
    margin-top: 10px;
    font-size: 4rem;
    font-weight: 700;
  }
  background-color: rgb(50, 53, 68);
  text-align: center;
  padding-block: 57px;
}
.special {
  .content {
    background-color: rgb(38, 41, 54);
  }
  .uppery {
    background-color: rgb(34, 37, 48);
    padding: 10px 7px;
  }
}
.icon img {
  width: 100px;
}

footer {
  padding-block: 60px;
  background-color: rgb(38, 41, 54);
  .form-control {
    padding: 15px 50px 15px 20px;
  }
}
footer #submit {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 20px;
  background: #009ad8;
  border: none;
  border-radius: 30px;
  color: white;
}
.social-links a {
  width: 40px;
  height: 40px;
  display: inline-block;
  color: rgb(0, 154, 216);
  text-align: center;
  line-height: 2;
  font-size: 1.42857em;
  border-radius: 50%;
  background: rgb(30, 32, 43);
  transition: 0.3s;
  &:hover {
    color: white;
    background: rgb(0, 154, 216);
  }
}
.card-special {
  padding: 10px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  height: 100% !important;
  .content {
    height: 100%;
  }
}
/* media query */
@media screen and (max-width: 768px) {
  header {
    height: 155vh;
  }
  .head .down {
    height: 118vh;
    padding-bottom: 50px;
  }
  .social-links {
    margin-top: 15px;
  }
  .nav-item {
    margin-top: 15px;
  }
  .form-control {
    margin-top: 80px;
  }
}
.navbar-toggler-icon {
  background-image: url(../images/116.png);
}
.navbar-toggler {
  border: 2px solid #fff;
}
